:root {
  --red: #d54e4e;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  font-family: "Cormorant Garamond", serif;
}

body::-webkit-scrollbar {
  height: 1rem;
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

.add-new-user {
  /* position: absolute; */
  left: 33%;
}

.add-new-user-container {
  border: 2px solid;
  border-radius: 10px;
  border-color: #e9e3e3;
  background-color: #f0eded;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 40%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shd, 20px 150px, 15px rgba(148, 142, 142, 0.6));
}

.add-products form {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  margin: 3% auto;
}

.add-products form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.add-products form .box {
  width: 100%;
  margin: 0.5rem;
  border: solid gray 1px;
  font-size: 1.2rem;
  flex: 1;
}
.add-products form .box-group {
  display: flex;
  flex-direction: row;
}

.box {
  height: 28px;
  border: 0.5px solid rgb(216, 215, 215);
  padding-left: 5px;
  outline: none;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  border-radius: 3px;
}

.close-to-admin-index {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shd, 0 2px 30px 5px rgb(32, 31, 31));
  width: 110px;
  height: 20px;
  background-color: white;
  padding: 2px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: var(--clr-dark);
  text-align: center;
  border: 1px solid rgb(41, 40, 40);
  margin: auto;
  border-radius: 4px;
  text-align: center;
}

.edit-inputs {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.edit-userdata {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: left;
  box-shadow: var(--box-shadow);
  border: var(--border);
  width: 50%;
  height: auto;
  margin: 9% 25%;
}

.edit-header {
  font-size: 1.8rem;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 0rem;
  text-align: center;
}

.edit-sub-header {
  font-size: 1rem;
  font-family: "Cormorant Garamond", serif;
  color: var(--black);
  /* margin-bottom: 1.5rem; */
  text-align: center;
}

.message {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

.message span {
  font-size: 1.5rem;
  color: black;
}

.message i {
  cursor: pointer;
  color: var(--red);
  font-size: 2.5rem;
}
.btn,
.option-btn,
.delete-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
}

/* .register_form a{
  text-decoration: none;
} */

.user-dashboard {
  /* display: flex; */
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 50rem;
  height: 500px;
  margin: 1% auto;
  margin-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
}

.user-dashboard form table,
.order-dashboard form table {
  margin-top: 3%;
  table-layout: fixed;
}

.user-dashboard form h3,
.order-dashboard form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.order-dashboard {
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border: var(--border);
  width: 85%;
  margin: 1% auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.white-btn,
.btn {
  background-color: var(--purple);
}

.option-btn {
  background-color: var(--orange);
}

.delete-btn {
  background-color: var(--red);
}

.white-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

table {
  margin: 0 auto;
  font-size: large;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: #006600;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", " Calibri", "Trebuchet MS",
    "sans-serif";
}

td {
  background-color: #e4f5d4;
  border: 1px solid black;
}

th,
td {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

td {
  font-weight: lighter;
}

.update_cancel {
  margin-left: 20px;
  /* margin-top: 30px;
  margin-bottom: 15px; */
}

/*----------------------------UPDATE PRODUCTS PREVIEW----------------------------*/
.updates-preview-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: none;
  overflow-y: auto;
  padding: 20px;
  z-index: 5;
}

.updates-preview-container .update-preview {
  padding: 2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 2rem 0;
  width: 40rem;
  display: none;
}

.updates-preview-container .update-preview.active {
  display: block;
}

.updates-preview-container .update-preview img {
  height: 3.5rem;
}

/*----------------------------REPORTS PAGE----------------------------*/

#admin_report {
  margin-bottom: 0%;
  margin-top: 0%;
}

.report_container {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 2rem;
  /* text-align: center; */
  justify-content: flex-start;
  /* align-items:; */
  box-shadow: var(--box-shadow);
  border: var(--border);
  max-width: 80rem;
  margin: 1% auto;
  margin-top: 60px;
}

.report_container form table {
  margin-top: 4%;
}

.report_container form h3 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.second_report_desc {
  margin: 5% 5%;
  font-size: 1.5rem;
}
